# program to test whether a number is positive negative or 0

In [1]:
x=float(input("enter a number:"))
if x>0:
    print(x,"is positive")
elif x<0:
    print(x,"is negative")
else:
    print(x,"is neither positive nor negative")

enter a number: 8

8.0 is positive

# program to test whether a character is vowel or not

In [2]:
x=input("enter a character:")
if x=="a"or"A"or"e"or"i"or"E"or"I"or"u"or"o"or"O"or"U":
    print("its a vowel")
else:
    print("its not a vowel")

enter a character: a

its a vowel

# check whether input by user is a char or number , if char then check whether is a upper or lowercase

In [7]:
x=input("enter char or int:")
if x.isalpha:
    print("its a character")
    if 65<=ord(x)<=90:
        print("its upper")
    else:
        print("its lower")
else:
    print("its a number")

enter char or int: a

its a character
its lower

# find largest of 3 numbers

In [8]:
x=int(input("enter a number:"))
y=int(input("enter a number:"))
z=int(input("enter a number:"))
if x>=y and x>=z:
    print(x,"is the largest")
elif y>=x and y>=z:
    print(y,"is the largest")
elif z>=x and z>=y:
    print(z,"is the largest")

enter a number: 1
enter a number: 2
enter a number: 3

3 is the largest

# sort numbers in ascending and descending

In [13]:
x=int(input("enter a number:"))
y=int(input("enter a number:"))
z=int(input("enter a number:"))
numbers=[x,y,z]
a=len(numbers)
for i in range(a):
    large=numbers[0]
    b=0
    for j in range(a-i):
        if large<numbers[j]:
            large=numbers[j]
            b=j
        
    c=numbers[a-i-1]
    numbers[a-i-1]=numbers[b]
    numbers[b]=c
print(numbers,"are is ascending")
print(numbers[2],numbers[1],numbers[0],"are in descending")

enter a number: 83
enter a number: 09
enter a number: 73

[9, 73, 83] are is ascending
83 73 9 are in descending

# find absolute value

In [14]:
x=float(input("enter a number"))
if x<0:
    y=-x
    print("absolute value of",x,"is",y)
else:
    y=x
    print("absolute value of",x,"is",y)

enter a number 3

absolute value of 3.0 is 3.0

# sum of 1 to 10 numbers

In [15]:
num=1
sum=0
while(num<=10):
    sum=sum+num
    num=num+1
print("sum is",sum)

sum is 55

# find whether given number is armstrong number or not

In [21]:
x=input("enter a number:")
y=0
a=len(x)
for i in x:
    y=y+(int(i))**3
if y==int(x):
    print("its armstrong number")
else:
    print("its not armstrong number")

enter a number: 143

its not armstrong number

# write a program to enter a decimal number , calculate and display the binary equivalent of this number

In [26]:
num=int(input("enter a number"))
def binary(num):
    y=0
    i=0
    while num>0:
        x=num%2
        y=y+(x*(10**i))
        i=i+1
        num=num//2
    return int(y)
print(binary(num))

enter a number 6

110

# print reverse of a number

In [28]:
x=input("enter a number:")
y=""
for i in range(len(x)-1,-1,-1):
    y=y+x[i]
print(y)

enter a number: 123456

654321

# write a program using for loop to calculate factorial of a number

In [31]:
x=int(input("enter a number:"))
y=1
for i in range(x,0,-1):
    y=y*i
print(y)

enter a number: 8

40320

# write a program to print the multiplication table of n

In [34]:
x=int(input("enter number:"))
for i in range(1,11):
    print(x,"*",i, "=",x*i)

enter number: 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

# write a program that diaplay all the leap years from 1900 to 2100

In [35]:
for i in range(1900,2101):
    if i%100!=0 and i%4==0:
        print(i,"is leap year")
    elif i%400==0:
        print(i,"is leap year")
    else:
        print(i,"is not leap year")

1900 is not leap year
1901 is not leap year
1902 is not leap year
1903 is not leap year
1904 is leap year
1905 is not leap year
1906 is not leap year
1907 is not leap year
1908 is leap year
1909 is not leap year
1910 is not leap year
1911 is not leap year
1912 is leap year
1913 is not leap year
1914 is not leap year
1915 is not leap year
1916 is leap year
1917 is not leap year
1918 is not leap year
1919 is not leap year
1920 is leap year
1921 is not leap year
1922 is not leap year
1923 is not leap year
1924 is leap year
1925 is not leap year
1926 is not leap year
1927 is not leap year
1928 is leap year
1929 is not leap year
1930 is not leap year
1931 is not leap year
1932 is leap year
1933 is not leap year
1934 is not leap year
1935 is not leap year
1936 is leap year
1937 is not leap year
1938 is not leap year
1939 is not leap year
1940 is leap year
1941 is not leap year
1942 is not leap year
1943 is not leap year
1944 is leap year
1945 is not leap year
1946 is not leap year
1947 is not leap year
1948 is leap year
1949 is not leap year
1950 is not leap year
1951 is not leap year
1952 is leap year
1953 is not leap year
1954 is not leap year
1955 is not leap year
1956 is leap year
1957 is not leap year
1958 is not leap year
1959 is not leap year
1960 is leap year
1961 is not leap year
1962 is not leap year
1963 is not leap year
1964 is leap year
1965 is not leap year
1966 is not leap year
1967 is not leap year
1968 is leap year
1969 is not leap year
1970 is not leap year
1971 is not leap year
1972 is leap year
1973 is not leap year
1974 is not leap year
1975 is not leap year
1976 is leap year
1977 is not leap year
1978 is not leap year
1979 is not leap year
1980 is leap year
1981 is not leap year
1982 is not leap year
1983 is not leap year
1984 is leap year
1985 is not leap year
1986 is not leap year
1987 is not leap year
1988 is leap year
1989 is not leap year
1990 is not leap year
1991 is not leap year
1992 is leap year
1993 is not leap year
1994 is not leap year
1995 is not leap year
1996 is leap year
1997 is not leap year
1998 is not leap year
1999 is not leap year
2000 is leap year
2001 is not leap year
2002 is not leap year
2003 is not leap year
2004 is leap year
2005 is not leap year
2006 is not leap year
2007 is not leap year
2008 is leap year
2009 is not leap year
2010 is not leap year
2011 is not leap year
2012 is leap year
2013 is not leap year
2014 is not leap year
2015 is not leap year
2016 is leap year
2017 is not leap year
2018 is not leap year
2019 is not leap year
2020 is leap year
2021 is not leap year
2022 is not leap year
2023 is not leap year
2024 is leap year
2025 is not leap year
2026 is not leap year
2027 is not leap year
2028 is leap year
2029 is not leap year
2030 is not leap year
2031 is not leap year
2032 is leap year
2033 is not leap year
2034 is not leap year
2035 is not leap year
2036 is leap year
2037 is not leap year
2038 is not leap year
2039 is not leap year
2040 is leap year
2041 is not leap year
2042 is not leap year
2043 is not leap year
2044 is leap year
2045 is not leap year
2046 is not leap year
2047 is not leap year
2048 is leap year
2049 is not leap year
2050 is not leap year
2051 is not leap year
2052 is leap year
2053 is not leap year
2054 is not leap year
2055 is not leap year
2056 is leap year
2057 is not leap year
2058 is not leap year
2059 is not leap year
2060 is leap year
2061 is not leap year
2062 is not leap year
2063 is not leap year
2064 is leap year
2065 is not leap year
2066 is not leap year
2067 is not leap year
2068 is leap year
2069 is not leap year
2070 is not leap year
2071 is not leap year
2072 is leap year
2073 is not leap year
2074 is not leap year
2075 is not leap year
2076 is leap year
2077 is not leap year
2078 is not leap year
2079 is not leap year
2080 is leap year
2081 is not leap year
2082 is not leap year
2083 is not leap year
2084 is leap year
2085 is not leap year
2086 is not leap year
2087 is not leap year
2088 is leap year
2089 is not leap year
2090 is not leap year
2091 is not leap year
2092 is leap year
2093 is not leap year
2094 is not leap year
2095 is not leap year
2096 is leap year
2097 is not leap year
2098 is not leap year
2099 is not leap year
2100 is not leap year

# write a program to sum the series

In [38]:
x=int(input("enter a numer:"))
y=0
for i in range(1,x+1):
    y=y+1/i
print(y)

enter a numer: 10

2.9289682539682538

# write a program to calculate sum of cubes

In [39]:
x=int(input("enter a numer:"))
y=0
for i in range(1,x+1):
    y=y+i**3
print(y)

enter a numer: 5

225